<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLDL" 
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLDL;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>